{% load static %}

{% block body %}

{% include 'navigations.html' %}


<div class="bef_log_page" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center" value="admin_login">
    Admin Login
</div>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" class="form-control" name="uname" placeholder="Enter Username">
    <label>Password</label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" class="btn btn-primary"style="margin-top:2%; color:white; background-color:maroon" value="Login">
</form>

{% if error == "no" %}
<script>
    alert("Login Successful");
    window.location = ('{% url 'admin_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid credentials");
</script>
{% endif %}
{% include 'footer.html' %}
<script src="{% static 'JS/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'JS/main.js' %}" type="text/javascript"></script>
{% endblock %}
