{% load static %}

{% block body %}

{% include 'user_navigations.html' %}

<script>
    function checkpass(){
    if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value){
        alert("Passwords do not match");
        document.changepassword.confirmpassword.focus();
        return false;
    }
    return true;
    }
</script>

<div class="bef_log_page" value="user_change_password" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center">
    Change Password - Job Seeker
</div>

<hr>

<form class="container mt-5" method="post" onsubmit="return checkpass()" name="changepassword">

    {% csrf_token %}
    <label>Current Password</label>
    <input type="password" class="form-control" name="currentpassword" required>
    <label>New Password</label>
    <input type="password" class="form-control" name="newpassword" required>
    <label>Confirm New Password</label>
    <input type="password" class="form-control" name="confirmpassword" required>
    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:white; background-color:maroon" value="Submit">

</form>

{% if error == "no" %}
<script>
    alert("Password Changed");
    window.location = ('{% url 'Logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Error");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Invalid Current Password");
</script>
{% endif %}

{% endblock %}

<script src="{% static 'JS/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'JS/user_page_js.js' %}" type="text/javascript"></script>