{% load static %}

{% block body %}

{% include 'user_navigations.html' %}

<div  class="bef_log_page" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center">
    Job Details
</div>

<hr>

<div class="container shadow-lg py-3 mb-2">
    <div class="row">
        <div class="col-md-4">
            <img src="{{job.image.url}}" height="250px" width="250px">
        </div>
        <div class="col-md-5 ml-5">
            <h2>Title - {{job.title}}</h2>
            <p>{{job.recruiter.company}}<a href="{% url 'user_latest_jobs' %}">(View All Jobs)</a> </p>
            <p><i class="fa fa-map-marker mr-2"></i>Location: {{job.location}}</p>
            <p><i class="fa fa-calendar mr-2"></i>Posted on: {{job.creation_date}}</p>
            <p><i class="fa fa-money mr-2"></i>Salary(pm): <i class="fa fa-inr"></i>{{job.salary}}</p>
            <div>
                <a href="{% url 'applyforjob' job.id %}" class="btn btn-primary">Apply</a>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h5>Description</h5>
        <p>{{job.description}}</p>
        <h5>Experience (in Years)</h5>
        <p>{{job.experience}} Years</p>
        <h5>Skills Required</h5>
        <p>{{job.skills}}</p>
        <h5>Applications Open from</h5>
        <p>{{job.start_date}}</p>
        <h5>Applications End on</h5>
        <p>{{job.end_date}}</p>
    </div>

</div>

{% endblock %}
