{% load static %}

{% block body %}

{% include 'recruiter_navigations.html' %}

<div class="bef_log_page" value="recruiter_home" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center">
    Recruiter Profile
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6">
            <form name="signup" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{recruiter.user.first_name}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{recruiter.user.last_name}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" name="contact" value="{{recruiter.mobile}}" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Company</label>
                        <input type="text" class="form-control" name="company" value="{{recruiter.company}}" readonly required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email ID</label>
                        <input type="text" class="form-control" name="email" value="{{recruiter.user.username}}" readonly required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                            {% if recruiter.gender == "Male" %}
                            <div style="border: 1px solid lightgrey; padding: 6px; border-radius: 6px">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                            </div>
                            {% else %}
                            <div style="border: 1px solid lightgrey; padding: 6px; border-radius: 6px">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female" checked>
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                            </div>
                            {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Change Image</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                </div>
                <input type="Submit" value="Submit" class="btn btn-primary">
            </form>
        </div>

        <div class="col-sm-4 mt-5 ml-5">
            <img src="{{recruiter.image.url}}" width="300px" height="300px">
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Profile Updated");
    window.location = ('{% url 'recruiter_home' %}');
</script>

{% endif %}

{% if error == "yes" %}
<script>
    alert("Error, try again");
</script>
{% endif %}

{% endblock %}

<script src="{% static 'JS/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'JS/recruiter_page_js.js' %}" type="text/javascript"></script>